/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 36px;
  box-sizing: border-box;
}

header h1, h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5vmax;
  padding: 1em;
}

nav {
  display: flex;
  justify-content: center;
}

nav div, nav p {
  padding: .5em;
  font-size: .8em;
}

a {
  text-decoration: none;
  color: black;
}

nav p {
  display: flex;
  align-items: center;
}

nav div:hover {
  cursor: pointer;
}

.new {
  display: flex;
}

button {
  font-size: .75em;
  padding: 0 1em;
}

main {
  background-image: url("images/balloons.png");
  background-repeat: none;
  background-size: cover;
  height: 82vh;
}

.container {
  background-color: rgba(255, 255, 255, .75);
  height: 82vh;
}

h1 {
  font-size: 3vmax;
}

ul div {
  display: flex;
  justify-content: center;
  padding: .5em 2em;
  align-items: center;
}

.line-items {

}

p {
  padding: 20px;
}

.form {
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  padding: 2em .25em .25em;
}

input {
  margin: .25em 0;
  padding: .25em;
  color: gray;
  font-size: .75em;
}

.submit {
  width: 25%;
  margin: 1em auto 0;
  border-radius: 10px;
  border: gray 1px solid;
    color: black;
}

img {
  height: 10em;
  margin: auto;
  display: block;
}

.calendar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.month {
  border: 1px rgb(218, 218, 218) solid;
  height: 300px;
  width: 300px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: peachpuff; */
  background-image: url("images/honeycomb_background.jpg");
  background-repeat: none;
  background-size: cover;
}

.month a {
  text-decoration: none;
  color: black; 
  padding: 15px 0;
  font-family: 'Parisienne', cursive;
  font-size: 5vmax;
}