/* header, button, months */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
/* nav */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

/* heading */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 36px;
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100vh;
  background-image: radial-gradient( white 55%, rgb(241, 153, 70));
  background-repeat: no-repeat;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square img {
  height: 9em;
}

header h1, h1 {
  text-align: center;
}

header h1 {
  font-family: 'Parisienne', cursive;
  font-weight: 700;
  font-size: 5.5vmax;
  padding: 1em;
  color: #000;
}

nav {
  display: flex;
  justify-content: center;
  font-family: 'Cutive Mono', monospace;
}

nav div, nav p {
  padding: .5em;
  font-size: .8em;
}

a {
  text-decoration: none;
  color: black;
}

nav p {
  display: flex;
  align-items: center;
}

nav div:hover {
  cursor: pointer;
}

.new {
  display: flex;
  margin-left: 2.5em;
}

button {
  font-size: .75em;
  padding: 0 1em;
  box-shadow: inset 0px 0px 20px 2px rgb(140 213 214);
  background-color: transparent;
  border: solid 0px rgb(140 213 214);
  color: rgb(84, 196, 198);
  font-family: 'Parisienne', cursive;
  border-radius: 230px;
  text-shadow: 0.25px 0.25px rgb(78 166 167);
}

main {
  background-image: url("images/balloons.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 82vh;
}

.container {
  background-color: rgba(255, 255, 255, .75);
  height: 82vh;
}

h1 {
  font-size: 3vmax;
  padding: 1em;
  font-family: 'Raleway', sans-serif;
  color: rgb(51, 197, 199);
  text-shadow: 0.5px 0.5px 2px #4e4e4e;
}

ul div {
  display: flex;
  justify-content: center;
  padding: .5em 2em;
  align-items: center;
}

/* .line-items {

} */

p {
  padding: 20px;
}

.form {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
  display: flex;
  flex-direction: column;
}

.auth-submit {
  color: black
}

input {
  margin: .25em 0;
  padding: .25em;
  color: gray;
  font-size: .75em;
  background-color: rgb(253, 226, 208);
  border-radius: 7.5px;
}

.submit {
  margin: 1em auto 0;
  border-radius: 25px;
  border: gray 1px solid;
  color: black;
  background-color: rgb(84, 196, 198);
  box-shadow: 3px 3px 5px grey;
  font-size: 1.75vmax;
  padding: 1vmax 4.5vmax;
  font-family: 'Cutive Mono', monospace;
}

img {
  height: 4em;
}

.calendar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.month {
  border: 1px rgb(253 243 233) solid;
    height: 300px;
    width: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/honeycomb_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Parisienne', cursive;
    font-size: 5vmax;
    box-shadow: 0px 0px 350px 1px rgb(255 230 204);
}